<div class="container" style="padding: 10rem">
  <div class="card" style="width: 22rem; height: 30">
    <div class="card-header">Customer Information</div>
    <ul class="list-group list-group-flush" *ngIf="section == 2">
      <li class="list-group-item">
        First Name: {{ individualCustomers[0].firstName }}
      </li>
      <li class="list-group-item">
        Last Name: {{ individualCustomers[0].lastName }}
      </li>
      <li class="list-group-item">
        Birthday: {{ individualCustomers[0].dateOfBirth }}
      </li>
      <li class="list-group-item">
        National Identity: {{ individualCustomers[0].nationalIdentity }}
      </li>
      <div *ngIf="serviceList">
        <div class="card-header">Services</div>
        <div *ngFor="let service of serviceList">
          <li class="list-group-item">
            {{ service.serviceName }}: {{ service.dateStarted }}
          </li>
        </div>
      </div>
    </ul>
    <ul class="list-group list-group-flush" *ngIf="section == 1">
      <li class="list-group-item">
        Company Name: {{ corporateCustomers[0].companyName }}
      </li>
      <li class="list-group-item">
        Tax Number: {{ corporateCustomers[0].taxNumber }}
      </li>
      <div *ngIf="serviceList">
        <div class="card-header">Services</div>
        <div *ngFor="let service of serviceList">
          <li class="list-group-item">
            {{ service.serviceName }}: {{ service.dateStarted }}
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>

<app-footer></app-footer>
